<%- include('./partials/_header.ejs') %>

<section>
  <h1 class="center-text">Welcome to the Customer Order Page!</h1>

  <div class="card center-div">
    <div class="card-title"><%= pageTitle %> </div>
    <div class="card-content">
      <div class="form">
        <form action="/order" method="post">

          <div class="form-field">
            <label for="firstName">First Name</label><br />
            <input class="input" type="text" name="firstName" id="firstName" required autofocus>
          </div>

          <div class="form-field">
            <label for="lastName">Last Name</label><br />
            <input class="input" type="text" name="lastName" id="lastName" required autofocus>
          </div>

          <div class="form-field">
            <label for="payment">Payment Option</label><br />
            <select name="payment" id="payment" class="drop-down-menu full-width" required>
              <% payments.forEach((payment) => { %>
              <option value="'<%= payment.value %>'"><%= payment.text %></option>
              <% }) %>
            </select>
          </div>

          <div class="form-field">
            <label for="total">Total</label><br />
            <input class="input" type="text" name="total" id="total" required autofocus>
          </div>

          <div class="form-field">
            <input type="submit" value="Submit Order" class="btn btn-primary full-width">
          </div>
        </form>
      </div>
    </div>
  </div>

</section>

<br /><br /><br /><br />

<%- include('./partials/_footer.ejs') %>
