<%- include('./partials/_header.ejs') %>

<%- include('./partials/_navbar.ejs') %>

<section class="container">
    <h1 class="center-text"><%= message %> </h1>
    <div class="card center-div">
        <div class="card-title">
            Welcome to the <%= pageName %>
        </div>

    </div>

</section>

<%- include('./partials/_footer.ejs') %>
