<%- include('./partials/_header.ejs') %>

<%- include('./partials/_navbar.ejs') %>

<section class="container">
    <h1 class="center-text"><%= message %> </h1>
    <div class="card center-div">
        <div class="card-title">
            <%= cardTitle %>
        </div>

        <div class="card-content">
            <% for (let index = 0; index < fruits.length; index++) { %>

            <% if (fruits[index].name === 'Apple') { %>
            <div class="fruit-color" style="background-color: green; color: white;">
                <h3><%= fruits[index].name %>'s are yummy!</h3>
            </div>
            <% } %>

            <% if (fruits[index].name === 'Orange') { %>
            <div class="fruit-color" style="background-color: orange; color: white;">
                <h3><%= fruits[index].name %>'s are sour!</h3>
            </div>
            <% } %>

            <% if (fruits[index].name === 'Grape') { %>
            <div class="fruit-color" style="background-color: purple; color: white;">
                <h3><%= fruits[index].name %>'s are sweet!</h3>
            </div>
            <% } %>

            <% if (fruits[index].name === 'Strawberry') { %>
            <div class="fruit-color" style="background-color: red; color: white;">
                <h3><%= fruits[index].name %>'s are delicious!</h3>
            </div>
            <% } %>

            <% } %>
        </div>
    </div>
</section>

<%- include('./partials/_footer.ejs') %>
